body{
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
}
a{
    text-decoration: none;
}
#navigation_bar{
    background-color: rgb(230, 223, 223); 
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 40px;
    gap: 20px;
}
.container_items{
    display: flex;
    font-size: 20px;
    color: black;
}
.container_items:hover{
    align-items: center;
    height: 93%;
    border-radius: 10%;
    background-color: rgb(63, 63, 245);
    color: rgb(255, 255, 255);
}
.about{
    align-items: center;
    height: 93%;
    border-radius: 10%;
    background-color: rgb(63, 63, 245);
    color: rgb(255, 255, 255);
}
.home{
    margin-left: 10px;
}
.Items{
    color: black;
}
.Items:hover{
    color: white;
}
.abouts{
    color: white;
}
#Notes{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    padding-left: 10%;
    padding-right: 10%;
}
.text{
    font-size: 20px;
}
.text1{
    color: rgb(39, 39, 238);
    font-size: 26px;
}
.header{
    font-size: 32px;
}
ul{
    list-style-type: circle;
    list-style-position: inside;
}